.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pageButton {
  padding: 0.5rem 1rem;
  border: 1px solid var(--gray-medium);
  background-color: var(--gray-light);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.3s ease;
}

.pageButton:hover:not(:disabled) {
  background-color: var(--gray-hover);
}

.pageButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.active {
  background-color: #34d399;
  color: var(--button-text);
  border-color: var(--active-button-bg);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.active:hover {
  background-color: #34d399;
  cursor: auto;
}

.ellipsis {
  padding: 0.5rem 1rem;
  color: var(--gray-medium);
  transition: color 0.3s ease;
}