.card {
  width: 160px;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
  max-width: 250px;
  text-align: center;
}

.image {
  width: 100px;
  height: 100px;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.description {
  color: #4b5563;
}
