.card {
  width: 160px;
  padding: 1rem;
  border: 1px solid var(--gray-medium);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--shadow-color);
  margin: 0.5rem;
  max-width: 250px;
  text-align: center;
  position: relative;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.image {
  width: 100px;
  height: 100px;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.description {
  color: var(--gray-medium);
  transition: color 0.3s ease;
}

.checkbox {
  position: absolute;
  top: 8px;
  left: 8px;
}