.flyout {
  background-color: var(--gray-medium);
  border-top: 1px solid var(--gray-medium);
  padding: 5px;
  margin-top: 16px;
  transition: background-color 0.3s ease;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 0 18px 0;
  max-height: 100px;
  overflow-y: auto;
}

.listItem {
  font-size: 0.9rem;
  text-transform: capitalize;
  margin-bottom: 4px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.clearButton {
  margin-left: 15px;
  background-color: var(--button-bg-primary);
  color: var(--button-text);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.clearButton:hover {
  background-color: var(--button-bg-primary-hover);
}

.downloadButton {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.downloadButton:hover {
  background-color: var(--button-bg-hover);
}

.downloadLink {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}