.searchContainer {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--gray-light);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
}

.input {
  padding: 0.5rem;
  border: 1px solid var(--gray-medium);
  border-radius: 0.25rem;
  width: 16rem;
  transition: border-color 0.3s ease;
}

.button {
  padding: 0.5rem 1rem;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: var(--button-bg-hover);
}

.resetButton {
  padding: 0.5rem;
  background-color: var(--gray-medium);
  color: var(--text-color);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.resetButton:hover {
  background-color: var(--gray-hover);
}