.container {
  background-color: var(--app-bg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  transition: background-color 0.3s ease;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.nav a {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--button-text);
  background-color: var(--button-bg);
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav a:hover {
  background-color: var(--button-bg-hover);
}